.menu input[type="checkbox"]{
    display: none;
}
.menu span{
    display: none;
}



@media all and (max-width:1200px) {

    .midwidth {
        width: 100%;
        max-width: 100%;
        padding: 0 10px;
    }
}


@media all and (max-width:1166px) {
    .contact-row .contact-head {
        padding-top: 0px;
    }

    .contact-row .contact-head h3 {
        font-size: 28px;
    }

    .contact-row .contact-via .via-item {
        width: 31%;

    }
}





@media all and (max-width:1000px){
    .header-row .logo {
        width: 100%;
        margin-left: 0;
    }

    .header-row .logo a {
        text-align: center;
        font-size: 23px;
    }

    .header-row .menu {
        width: 100%;

    }

    .header-row .menu ul {
        text-align: center;
        margin-right: 0;
    }

    .banner-row {
        padding: 120px 0px;
   
    }

    .banner-row .banner-content .banner-caption h1 {
        font-size: 25px;
    }

    .banner-row .banner-content .banner-caption h4 {
        margin: 12px 0px;
        font-size: 17px;

    }

    .banner-row .banner-content .banner-btn a {
        font-size: 10px;

    }


    .header-row .logo a {
        font-size: 30px;
    }

    .header-row .menu ul li a {
        padding: 0px 19px;
        font-size: 25px;
   
    }


    .service-row .service-head {
        padding: 25px 0px;
    }


    .service-row .service-head p {
        margin-top: 23px;
    }

    .service-row .service-items {

        padding: 30px 0px;
    }


    .service-row .service-items .service-item {
        width: 50%;
        margin-bottom: 50px;
    }


    .service-row .service-items .service-item h3 {
        font-size: 23px;
        padding: 10px 0px;
    }
   
    .service-row .service-items .service-item span {
        font-size: 35px;
    }


   
} 



@media all and (max-width:686px) {

    .contact-row .contact-via .via-item {
        width: 100%;
        margin-left: 0;
        margin-bottom: 55px;
    }


    .contact-row .contact-via .via-item span {

        font-size: 33px;
    }

    .contact-row .contact-via .via-item .item-bottom p {
 
        font-size: 20px;
  
    }

}




@media all and (max-width:542px) {

    .about-row .about-content {
        padding: 15px 0px;
    }
    .about-row .about-content .about-img {
        width: 100%;
   
    }

    .about-row .about-content .about-text {
        width: 100%;
      
    }

    .about-row .about-head h3 {
        font-size: 30px;

    }

    .about-row .about-head {
        padding: 25px 0px;
    }

    .about-row .about-head {
        padding: 33px 0px;
    }

    .about-row .about-content {
        padding: 22px 0px;
    }


    .social-row {
        padding: 12px 0px;
    }

    
    .social-row .social-menu ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }



    .social-row .social-menu ul li {
     
        margin-right: 15px;
    }

    .social-row .social-menu ul li a {
 
        font-size: 14px;
 
    }

    .footer-row .footer-text p {
        font-size: 10px;
    }
}





@media all and (max-width:542px) {
    .header-row .menu ul li a {
        font-size: 17px;
    }


    .service-row .service-items .service-item {
        width: 100%;
    
    }
}





@media all and (max-width:472px) {

    .header-row .menu ul li a {
        padding: 0px 10px;
    
    }


    .menu input[type="checkbox"]{
        display: block;
        position: absolute;
        right: 40px;
        top: 18px;
        width: 30px;
        height: 30px;
        background: #fff;
        appearance: none;
        opacity: 0;
        cursor: pointer;
    }
    .menu span{
        display: block;
        position: absolute;
        right: 40px;
        top: 15px;
        font-size: 36px;
        color: #fff;
        pointer-events: none;
    }


    .header-row .menu ul {
        position: absolute;
        top: 70px;
        right: 10px;
        z-index: 1111;
        background: #22c3a3;
        visibility: hidden;
        opacity: 0;
        transition: .5s;
    }


    .header-row .menu ul li {
        display: block;
        margin: 0;
    }

    .header-row .menu {
        line-height: 35px;
    }

    .header-row .menu ul li a {
        display: block;
        padding: 0px 20px;
        font-size: 20px;
  
    }

    .menu input[type="checkbox"]:checked ~ ul{
         visibility: visible;
         opacity: 1;
    }

     .menu input[type="checkbox"]:checked ~ span {
          color:tomato;
       
    } 

    .header-row .logo a {
        text-align: left;
        font-size: 25px; 
    }
    

}


@media all and (max-width:308px) {
    .header-row .menu ul li {
        display: block;
   
    }

    .header-row .menu ul li a {
        padding: 0px 10px;
        font-size: 20px;
    }


}